.form{
    width: 100%;
    background-color: $color-bg;
    padding: $padding-small;
    .textarea{
        resize: none;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    &__group{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin: $padding-small;
        &-title{
            color: $color-highlight;
            font-size: 1.1rem;
            font-family: $font-accent;
            margin: $padding-xs 0;
        }
    }
    &__label{
        font-size: 0.8rem;
        font-family: $font-accent;
        color: $color-highlight;
        margin-top: $padding-xs;
        padding-left: 1rem;
        
    }
    &__input{
        background: transparent;
        border: 2px solid $color-highlight;
        border-radius: 1rem;
        padding: $padding-xs;
        padding-left: 1rem;
        width: 100%;
        -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
        font-family: $font-primary;
        &:focus-visible{
            border:2px solid $color-accent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            color: $color-accent;
        }
        &::placeholder{
            font-family: $font-primary;
        }        
    }
    .select{
        background: $color-bg;
        &__option{
            font-family: $font-primary;
            color: $color-highlight;
        }
    }
    &__submit-btn{
        margin: auto;
        padding: $padding-small;
        font-size: 1rem;
        font-family: $font-accent;
        color: $color-highlight;
        width: 80%;
        .icon{
            margin-right: $padding-xs;
        }
    }
}

@media (min-width: $media-medium) {
    .form {
        &__group {
            width: 75%;
            margin-inline: auto;
        }
        &__submit-btn {
            width: 40%;
        }
    }
}

@media (min-width: $media-large) {
    .form {
        &__submit-btn {
            width: 60%;
        }
    }
}

@media (min-width: $media-xlarge) {
    .form{
        border-radius: 2rem 0 0 2rem;
    }
}
