.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $color-highlight;
    color: $color-bg;
    padding-top: $padding-xs;
    position: relative;
    margin-top: $padding-small;
    .paws{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        padding: $padding-xs 0;
    }
    .contact{
        margin: $padding-small;
        &__option{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            padding: $padding-small;
        }
        p{
            padding-top: $padding-xs;
            font-family: $font-accent;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
        }
    }
    .socials{
        background-color: $color-bg;
        color: $color-highlight;
        width: 70vw;
        height: 70vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &__logo{
            max-width: 10rem;
        }
        &__links{
            font-size: 2.5rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            a{
                text-decoration: none;
                color: $color-highlight;
                &:hover{
                    color: $color-accent;
                }
            }            

        }
    }
    .copyrights{
        margin: $padding-small;
        font-family: $font-accent;
        line-height: 1.2rem;
        text-align: center;
    }
}


@media (min-width: $media-medium){
    .footer{
        .socials{
            width: 40vw;
            height: 40vw;
        }
        .contact{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: $padding-medium;
            &__option{
                width: 10rem;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    background-color: $color-bg;
                    right: calc(-1 * $padding-medium / 2);
                    top: 0;
                }
                &:last-of-type::after{
                    display: none;
                }
            }
        }
    }
    
}

@media (min-width: $media-large){
    .footer{
        align-items: end;
        position: relative;
        overflow: hidden;
        .socials{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-20%, -20%);
        }
        .contact{
            padding-right: $padding-small;
        }
    }
}

@media (min-width: $media-xlarge){
    .footer{
        .contact{
            margin:$padding-medium $padding-big;
        }
        .copyrights{
            margin-right: $padding-big;
            text-align: right
        }
        .socials{
            transform: translate(-13%, -28%);
        }
    }
}