.navbar{
    position: fixed;
    z-index: 200;
    background-color: $color-bg;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding-xs;
    &__logo img{
        max-height: 5rem;
    }
    &__hamburger{
        font-size: 3rem;
        color: $color-highlight;
    }
    &__menu{
        display: none;
        &--mobile .link, .link{
            text-decoration: none;
            font-family: $font-accent;
            font-size: 1.2rem;
            color: $color-highlight;
            .icon {
                display: none;
            }
            &--active{
                color: $color-accent;
                position: relative;
                .icon{
                    display: inline;
                    position: absolute;
                    top: 0;
                    left: -$padding-xs;
                    transform: translateX(-100%);
                }
            }
        }
        &--mobile{
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            height: calc(100vh - 5rem);
            width: 100vw;
            background-color: $color-bg;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
            .socials{
                margin-top: -$padding-medium;
                background-color: $color-bg;
                color: $color-highlight;
                width: 70vw;
                height: 70vw;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                &__logo{
                    max-width: 10rem;
                }
                &__links{
                    font-size: 2.5rem;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    a{
                        text-decoration: none;
                        color: $color-highlight;
                    }            
        
                }
            }
        }
    }
    &__socials{
        display: none;
        font-size: 2.5rem;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        a{
            text-decoration: none;
            color: $color-highlight;
        }            
    }
}


@media (min-width: $media-large){
    .navbar{
        &__hamburger{
            display: none;
        }
        &__menu{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 60%;
            &--mobile{
                display: none;
            }
        }
        &__socials{
            display: flex;
        }
    }
}