.offer-card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: $padding-medium;
    &__icon{
        font-size: 5rem;
        color: $color-accent;
    }
    &__title{
        margin-top: $padding-xs;
    }
    &__text{
        text-align: center;
        font-weight: 500;
    }
}