.controls {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    gap: 1.25rem;
    margin: $padding-small;
    color: $color-accent;
    &__icon:nth-of-type(2){
        cursor:auto;
    }
} 
.review {
    &__presentation{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin: $padding-small;
        gap: 2rem;
        .photo{
            width: 60px;
            height: 60px;
            min-height: 60px;
            min-width: 60px;
            outline: 5px solid $color-highlight;
            border-radius: 50%;
            border: none;
        }
        .reviewers-name{
            font-size: 1.2rem;
            color: $color-highlight;
            font-weight: 200;
            font-family: $font-accent;
        }
    }
   
    &__content{
        margin: $padding-small;
        position: relative;
        text-align: justify;
        font-size: .9rem;
        font-weight: 300;
        padding: $padding-xs;
    }
    &__quote{
        position: absolute;
        font-size: .5rem;
        font-family: $font-primary;
        color: $color-highlight;
        &--start{
            left: 0;
            top: 0;
        }
        &--end{
            right: 0;
            bottom: 0;
        }
    }
}

@media (min-width: $media-medium){
    .review{
        &__content{
            margin: $padding-medium;
        }
    }
}

@media (min-width: $media-large){
    .review{
        display: flex;
        flex-flow: row nowrap;
        margin-left: $padding-medium;
        margin-right: $padding-medium;
        max-width: 1000px;
        &__content{
            margin: $padding-small;
        }
        &_presentation{
            flex-direction: column;
        }
    }
    
}