@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Itim', sans-serif;
    &-logo{
        img{
            height: 200px;
        }
    }
    &-title, &-subtitle{
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    &-subtitle{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    &-contactInfo{
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-family: 'Itim', sans-serif;
        .contact-item {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .icon {
            font-size: 1.5rem;
            color: #523E27;
            margin-right: 1rem;
            &.big{
                font-size: 2rem;
            }

        }
        .text {
            display: flex;
            flex-direction: column;
            color: #523E27;
            p{
                margin: 0;
            }
            
          }
    }
    .important{
        font-weight: 800;
        color: #523E27;

    }
}
