.prices-table{
    margin-top: $padding-xs;
    width: 100%;
    border-bottom: 1px solid #000;
    .heading{
        padding: $padding-xs;
        text-align: right;
        font-weight: 600;
        font-size: .9rem;
        color: $color-highlight;
    }
    .category, .price{
        padding: $padding-small;
        border-top: 1px solid #000;
    }
    .category {
        font-weight: 600;
    }
    .price {
        font-size: 1.1rem;
        font-weight: 700;
        color: $color-highlight;
        min-width: 120px;
        text-align: right;
        border: 1px solid red;
    }
}

@media (min-width: $media-medium){
    .prices-table{
        .category{
            padding-left: $padding-medium;
        }
        .price, .heading{
            padding-right: $padding-medium;
        }
    }
    
}

@media (min-width: $media-large){
    .prices-table{
        .category{
            padding-left: $padding-big;
        }
        .price, .heading{
            padding-right: $padding-big;
        }
    }
    
}
@media (min-width: $media-xlarge){
    .prices-table{
        .category{
            padding-left: 2*$padding-big;
        }
        .price, .heading{
            padding-right: 2*$padding-big;
        }
    }
    
}