.hero{
    display: flex;
    flex-flow: column;
    align-items: center;
    &__image{
        display: none;
    }
    &__mobile-image{
        border-radius: 50%;
        width: 90vw;
        height: 90vw;
        object-fit: cover;
        z-index: 0;
    }
}
.reviews{
    display: flex;
    flex-flow: column;
    align-items: center;
}