.contact{
    .text {
        text-align: center;
        margin: $padding-small;
    }
    .contact-form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100vw;
        margin: $padding-medium 0;
        &__info{
            width: 100%;
            background-color: $color-highlight;
            color: $color-bg;
            padding: $padding-small;
            .option{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                padding: $padding-small;
                p{
                    padding-top: $padding-xs;
                    font-family: $font-accent;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-align: center;
                }
            }
        }
    }    
}
.map{
    width: 100%;
    height: 500px;
    &__container{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $media-large) {
    .contact {
        .text{
            width: 50%;
            margin-inline: auto;
        }
        .contact-form{
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            &__info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                .option{
                    gap:$padding-small;
                }
            }
        }
    }
}

@media (min-width: $media-xlarge) {
    .contact{
        .contact-form{
            max-width: 1000px;
            margin-inline: auto;
            &__info{
                border-radius: 0 2rem 2rem 0;
                padding: $padding-big 0;
            }
        }
    }
}