.desc{
    margin-top: $padding-xs;
    padding: $padding-xs;
    &__paragraph{
        margin: $padding-small;
        text-align: center;
        line-height: 1.2rem;
    }
    &__image {
        margin: -$padding-xs;
        margin-top: $padding-small;
        margin-bottom: $padding-small;
    }
}
.team{
    padding: 0 $padding-small;
    margin-bottom: $padding-small;
    .section-title{
        margin-top: 0;
    }
    .team-card{
        margin: $padding-small;
        margin-top: 7rem;
        padding-bottom: $padding-small;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-bg;
        position: relative;
        border-radius: 2rem;
        &__image{
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            border: 4px solid $color-highlight;
        }
        &__name{
            margin-top: $padding-small + 5rem;
        }
        &__paragraph{
            font-size: .83rem;
            text-align: center;
            padding: $padding-small;
        }
    }
    .controls{
        color: $color-highlight;
        width: 50%;
        margin: auto;
        padding: $padding-small 0;
    }
}

@media (min-width: $media-medium){
    .wrapper{
        .desc{
            &__paragraph{
                margin:$padding-small $padding-big;
            }
        }
    }
    .team {
        max-width: 70%;
        margin: auto;
    }
}

@media (min-width: $media-large){
    .wrapper{
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        gap: $padding-medium;
        .desc{
            &__paragraph{
                margin:0 $padding-xs;
            }
        }
    }
    .team{
        max-width: 40rem;     
    }
}
    

@media (min-width: $media-xlarge){
    .wrapper{        
        .desc{
            &__paragraph{
                margin: $padding-medium;
            }
        }
    }
    .team{
        max-width: 50rem;
        .section-title{
            margin: $padding-medium;
            margin-bottom: $padding-big+$padding-medium;
        }
        .team-card{
            .section-title{
                margin: $padding-small;
                margin-top: $padding-big+2rem;
            }
            margin-top: 12rem;
            &__image{
                width: 20rem;
                height: 20rem;
            }
            &__name{
                margin-top: $padding-big+2rem;
            }
            &__paragraph{
                margin: 0 $padding-medium;
                margin-bottom: $padding-small;
                font-size: 1rem;
            }
        }
        .controls{
            padding: $padding-medium 0;
        }
    }
}