.offer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .subtitle{
        margin: $padding-small;
        margin-bottom: calc(2*$padding-small);
        line-height: 1.2rem;
    }
    .paragraph{
        text-align: center;
    }
    .button{
        margin: $padding-medium 0;
    }
}

@media (min-width: $media-medium){
    .cards{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media (min-width: $media-large){
    .cards{
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: $media-xlarge){
    .cards{
        max-width: 1200px;
    }
}