
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Itim&display=swap');

.container{
    min-height: 100vh;
    background-color: #e8cfc1;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    font-size: 16px;
    .clickable{
        cursor: pointer;
        scale: 1;
        &:hover{
            scale: 1.1;
            transition: all .9 ease-in-out 0;
            color: #c96b59;
        }
    }
}