//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Itim&display=swap');

$font-primary: 'Inter', sans-serif;
$font-accent: 'Itim', serif;


//colors
$color-highlight: #523E27;
$color-accent: #CE6857;
$color-bg: #E8CFC1;

//paddings
$padding-xs: .6rem;
$padding-small: 1.2rem;
$padding-medium: 4rem;
$padding-big: 10rem;


//media
$media-small: 481px;
$media-medium: 769px; 
$media-large: 1025px; 
$media-xlarge: 1201px; 